/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  color: #abb2bf;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

main-content {
  margin-bottom: 100px; /* add a bottom margin equal to the height of the footer */
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li a {
  color: orange;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav li a:hover {
  color: #61afef;
}

main {
  padding: 2rem;
}

/* Headings Styles */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: orange;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: orange;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: orange;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: orange;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: orange;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: orange;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: orange;
}

a[href^="mailto:"], a[href^="tel:"],  a[href^="https:"] {
  color: orange;
}

/* responsive styles */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-top: 1rem;
  }
}

.button {
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #544d40;
  background-color: orange;
  border: none;
  border-radius: 8px;
}

.button:hover {background-color: #ff8c00}

.button:active {
  background-color: teal;
  transform: translateY(4px);
}

section {
  display: block;
}

main {
  max-width: 2200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
    margin: 1rem;
/*    height: 8px;*/
    display: flex;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.header-content span {
    margin: 0 5rem;
}

@media only screen and (max-height:600px) {
    .container {
        height: auto;
    }
}

.main {
    margin: 1rem;
    flex: 1 1 70%;
    overflow: auto;
}

.footer {
    margin: 1rem;
    height: 8px;
    display: flex;
}

html, body {
  height: 100%;
  background-image: url('lineArtDark.svg');
  background-color: #282c34;
  color: #abb2bf;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

html {
  font-size: 16px;
  font-family: 'source code pro', monospace;
  line-height: 1.5;
  height: 100%;
  scroll-behavior: smooth;
}

#google-form-container {
  overflow: hidden;
  display: flex; /* Use flexbox for positioning */
  align-items: center; /* Center vertically */
  justify-content: flex-start; /* Align to the left */
  margin-bottom: 0; /* Adjust the margin as needed */
}

.google-form {
  width: 640px; /* Set width as needed */
  height: 1000px; /* Set height as needed */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
  max-height: 100%; /* Ensure it doesn't exceed the container height */
  display: block; /* Remove any default inline display style */
}
